@import "../../styles/colors";
@import '../../styles/variables';

$social: 24px;
$socialSmall: 22px;

%_icon {
    display: block;
    fill: $black;
    transition: fill $transition-time linear;

    &:hover {
        fill: $blue;
    }
}

.icon {
    @extend %_icon;

    height: $social;
    width: $social;
}

.icon-small {
    @extend %_icon;

    height: $socialSmall;
    width: $socialSmall;
}

/*
*  Having `social` in the classname can trigger content blockers e.g. Safari
*  The entire div will be hidden
*/

.links {
    align-items: center;
    display: flex;

    &>* {
        padding-right: $space-small;
    }
}