@import "../../styles/colors";
@import "../../styles/variables";

.galleryContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

:export {
    screen_mobile_small: $mobile-small;
    screen_desktop: $desktop;
}